interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://clinicaltrials.gov/api/v2/studies/NCT04971785?format=json
  response:
    body:
      string: "{\"protocolSection\":{\"identificationModule\":{\"nctId\":\"NCT04971785\",\"orgStudyIdInfo\":{\"id\":\"GS-US-454-6075\"},\"secondaryIdInfos\":[{\"id\":\"2021-001445-12\",\"type\":\"EUDRACT_NUMBER\"},{\"id\":\"jRCT2071210112\",\"type\":\"REGISTRY\",\"domain\":\"Japan
        Registry of Clinical Trials\"}],\"organization\":{\"fullName\":\"Gilead Sciences\",\"class\":\"INDUSTRY\"},\"briefTitle\":\"Study
        of Semaglutide, and Cilofexor/Firsocostat, Alone and in Combination, in Adults
        With Cirrhosis Due to Nonalcoholic Steatohepatitis (NASH)\",\"officialTitle\":\"A
        Phase 2, Randomized, Double-Blind, Double-Dummy, Placebo-Controlled Study
        Evaluating the Safety and Efficacy of Semaglutide, and the Fixed-Dose Combination
        of Cilofexor and Firsocostat, Alone and in Combination, in Subjects With Compensated
        Cirrhosis (F4) Due to Nonalcoholic Steatohepatitis (NASH)\",\"acronym\":\"WAYFIND\"},\"statusModule\":{\"statusVerifiedDate\":\"2025-11\",\"overallStatus\":\"COMPLETED\",\"expandedAccessInfo\":{\"hasExpandedAccess\":false},\"startDateStruct\":{\"date\":\"2021-08-09\",\"type\":\"ACTUAL\"},\"primaryCompletionDateStruct\":{\"date\":\"2024-11-12\",\"type\":\"ACTUAL\"},\"completionDateStruct\":{\"date\":\"2024-12-09\",\"type\":\"ACTUAL\"},\"studyFirstSubmitDate\":\"2021-07-20\",\"studyFirstSubmitQcDate\":\"2021-07-20\",\"studyFirstPostDateStruct\":{\"date\":\"2021-07-21\",\"type\":\"ACTUAL\"},\"resultsFirstSubmitDate\":\"2025-11-12\",\"resultsFirstSubmitQcDate\":\"2025-11-12\",\"resultsFirstPostDateStruct\":{\"date\":\"2025-11-26\",\"type\":\"ACTUAL\"},\"lastUpdateSubmitDate\":\"2025-11-12\",\"lastUpdatePostDateStruct\":{\"date\":\"2025-11-26\",\"type\":\"ACTUAL\"}},\"sponsorCollaboratorsModule\":{\"responsibleParty\":{\"type\":\"SPONSOR\"},\"leadSponsor\":{\"name\":\"Gilead
        Sciences\",\"class\":\"INDUSTRY\"},\"collaborators\":[{\"name\":\"Novo Nordisk
        A/S\",\"class\":\"INDUSTRY\"}]},\"oversightModule\":{\"oversightHasDmc\":true,\"isFdaRegulatedDrug\":true,\"isFdaRegulatedDevice\":false},\"descriptionModule\":{\"briefSummary\":\"The
        goal of this clinical study is to understand whether the study drugs, semaglutide
        (SEMA) with the fixed-dose combination (FDC) of cilofexor/firsocostat (CILO/FIR),
        cause fibrosis improvement and Nonalcoholic Steatohepatitis (NASH) resolution
        in participants with cirrhosis due to NASH.\"},\"conditionsModule\":{\"conditions\":[\"Nonalcoholic
        Steatohepatitis\"]},\"designModule\":{\"studyType\":\"INTERVENTIONAL\",\"phases\":[\"PHASE2\"],\"designInfo\":{\"allocation\":\"RANDOMIZED\",\"interventionModel\":\"PARALLEL\",\"primaryPurpose\":\"TREATMENT\",\"maskingInfo\":{\"masking\":\"DOUBLE\",\"whoMasked\":[\"PARTICIPANT\",\"INVESTIGATOR\"]}},\"enrollmentInfo\":{\"count\":457,\"type\":\"ACTUAL\"}},\"armsInterventionsModule\":{\"armGroups\":[{\"label\":\"SEMA
        + CILO/FIR FDC\",\"type\":\"EXPERIMENTAL\",\"description\":\"Participants
        will receive semaglutide (SEMA) 3.0 mg/mL, once weekly and cilofexor and firsocostat
        (CILO/FIR) 30 mg/20 mg fixed-dose combination (FDC) tablet, once daily up
        to 72 weeks.\",\"interventionNames\":[\"Drug: Semaglutide (SEMA)\",\"Drug:
        Cilofexor (CILO)/Firsocostat (FIR)\"]},{\"label\":\"SEMA + PTM CILO/FIR\",\"type\":\"EXPERIMENTAL\",\"description\":\"Participants
        will receive SEMA 3.0 mg/mL, once weekly and Placebo-To-Match (PTM) CILO/FIR
        FDC tablet, once daily up to 72 weeks.\",\"interventionNames\":[\"Drug: Semaglutide
        (SEMA)\",\"Drug: PTM CILO/FIR\"]},{\"label\":\"PTM SEMA + CILO/FIR FDC\",\"type\":\"EXPERIMENTAL\",\"description\":\"Participants
        will receive PTM SEMA, once weekly and CILO/FIR 30 mg/20 mg FDC tablet, once
        daily up to 72 weeks.\",\"interventionNames\":[\"Drug: Cilofexor (CILO)/Firsocostat
        (FIR)\",\"Drug: PTM SEMA\"]},{\"label\":\"PTM SEMA + PTM CILO/FIR\",\"type\":\"PLACEBO_COMPARATOR\",\"description\":\"Participants
        will receive PTM SEMA, once weekly and PTM CILO/FIR FDC tablet, once daily
        up to 72 weeks.\",\"interventionNames\":[\"Drug: PTM SEMA\",\"Drug: PTM CILO/FIR\"]}],\"interventions\":[{\"type\":\"DRUG\",\"name\":\"Semaglutide
        (SEMA)\",\"description\":\"Administered as subcutaneous (SC) injection\",\"armGroupLabels\":[\"SEMA
        + CILO/FIR FDC\",\"SEMA + PTM CILO/FIR\"]},{\"type\":\"DRUG\",\"name\":\"Cilofexor
        (CILO)/Firsocostat (FIR)\",\"description\":\"Tablets administered orally\",\"armGroupLabels\":[\"PTM
        SEMA + CILO/FIR FDC\",\"SEMA + CILO/FIR FDC\"],\"otherNames\":[\"GS-9674/GS-0976\"]},{\"type\":\"DRUG\",\"name\":\"PTM
        SEMA\",\"description\":\"Administered as SC injection\",\"armGroupLabels\":[\"PTM
        SEMA + CILO/FIR FDC\",\"PTM SEMA + PTM CILO/FIR\"]},{\"type\":\"DRUG\",\"name\":\"PTM
        CILO/FIR\",\"description\":\"Tablets administered orally\",\"armGroupLabels\":[\"PTM
        SEMA + PTM CILO/FIR\",\"SEMA + PTM CILO/FIR\"]}]},\"outcomesModule\":{\"primaryOutcomes\":[{\"measure\":\"Percentage
        of Participants Who Achieved \u2265 1-Stage Improvement in Fibrosis Without
        Worsening of Nonalcoholic Steatohepatitis (NASH) at Week 72 in Semaglutide
        (SEMA) + Cilofexor/Firsocostat (CILO/FIR) Fixed Dose Combination (FDC) Versus
        Placebo Groups\",\"description\":\"Fibrosis improvement was defined as \u2265
        1-stage decrease from baseline in fibrosis according to the NASH clinical
        research network (CRN) classification. Worsening of NASH was defined as \u2265
        1-point increase from baseline in hepatocellular ballooning or lobular inflammation.\\n\\nClopper-Pearson
        method was used in outcome measure analysis in each arm. Percentages were
        rounded-off.\",\"timeFrame\":\"Week 72\"}],\"secondaryOutcomes\":[{\"measure\":\"Percentage
        of Participants Who Achieved \u22651-Stage Improvement in Fibrosis Without
        Worsening of NASH at Week 72 in SEMA + CILO/FIR FDC Versus SEMA Alone\",\"description\":\"Fibrosis
        improvement was defined as \u2265 1-stage decrease from baseline in fibrosis
        according to the NASH CRN classification. Worsening of NASH was defined as
        \u2265 1-point increase from baseline in hepatocellular ballooning or lobular
        inflammation.\\n\\nCl[...]
