interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.fda.gov/drug/label.json?limit=5&search=%28openfda.brand_name%3A%22pioglitazone%22+OR+openfda.generic_name%3A%22pioglitazone%22%29
  response:
    body:
      string: "{\n  \"meta\": {\n    \"disclaimer\": \"Do not rely on openFDA to make
        decisions regarding medical care. While we make every effort to ensure that
        data is accurate, you should assume all results are unvalidated. We may limit
        or otherwise restrict your access to the API in line with our Terms of Service.\",\n
        \   \"terms\": \"https://open.fda.gov/terms/\",\n    \"license\": \"https://open.fda.gov/license/\",\n
        \   \"last_updated\": \"2026-09-17\",\n    \"results\": {\n      \"skip\":
        0,\n      \"limit\": 5,\n      \"total\": 52\n    }\n  },\n  \"results\":
        [\n    {\n      \"spl_product_data_elements\": [\n        \"PIOGLITAZONE HYDROCHLORIDE
        pioglitazone hydrochloride PIOGLITAZONE HYDROCHLORIDE PIOGLITAZONE CARBOXYMETHYLCELLULOSE
        CALCIUM HYDROXYPROPYL CELLULOSE (1600000 WAMW) LACTOSE MONOHYDRATE MAGNESIUM
        STEARATE White to Off-white Biconvex 31;H PIOGLITAZONE HYDROCHLORIDE pioglitazone
        hydrochloride PIOGLITAZONE HYDROCHLORIDE PIOGLITAZONE CARBOXYMETHYLCELLULOSE
        CALCIUM HYDROXYPROPYL CELLULOSE (1600000 WAMW) LACTOSE MONOHYDRATE MAGNESIUM
        STEARATE White to Off-white Flat Faced Beveled Edge 32;H PIOGLITAZONE HYDROCHLORIDE
        pioglitazone hydrochloride PIOGLITAZONE HYDROCHLORIDE PIOGLITAZONE CARBOXYMETHYLCELLULOSE
        CALCIUM HYDROXYPROPYL CELLULOSE (1600000 WAMW) LACTOSE MONOHYDRATE MAGNESIUM
        STEARATE White to Off-white Flat Faced Beveled Edge 33;H\"\n      ],\n      \"boxed_warning\":
        [\n        \"WARNING: CONGESTIVE HEART FAILURE Thiazolidinediones, including
        pioglitazone , cause or exacerbate congestive heart failure in some patients
        [see Warnings and Precautions (5.1) ] . After initiation of pioglitazone ,
        and after dose increases, monitor patients carefully for signs and symptoms
        of heart failure (e.g., excessive, rapid weight gain, dyspnea, and/or edema).
        If heart failure develops, it should be managed according to current[...]
