interactions:
- request:
    body:
      query: "\nquery($id: String!) {\n    drug(chemblId: $id) {\n        id drugType\n
        \       maximumClinicalStage\n\n        mechanismsOfAction {\n            rows
        {\n                mechanismOfAction actionType\n                targets {
        id approvedSymbol }\n            }\n        }\n\n        indications {\n            rows
        {\n                id maxClinicalStage\n                disease { id name
        }\n                clinicalReports {\n                    id source clinicalStage
        hasExpertReview\n                    title type trialOverallStatus trialLiterature\n
        \                   drugs { drugFromSource drug { id name } }\n                    diseases
        { diseaseFromSource disease { id name } }\n                }\n            }\n
        \       }\n\n        drugWarnings {\n            warningType description toxicityClass\n
        \           country year efoId efoTerm\n        }\n\n        adverseEvents(page:
        {index: 0, size: 100}) {\n            rows { name count logLR }\n            criticalValue\n
        \       }\n    }\n}\n"
      variables:
        id: CHEMBL1431
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.platform.opentargets.org/api/v4/graphql
  response:
    body:
      string: "{\"data\":{\"drug\":{\"id\":\"CHEMBL1431\",\"drugType\":\"Small molecule\",\"maximumClinicalStage\":\"APPROVAL\",\"mechanismsOfAction\":{\"rows\":[{\"mechanismOfAction\":\"Mitochondrial
        complex I (NADH dehydrogenase) inhibitor\",\"actionType\":\"INHIBITOR\",\"targets\":[{\"id\":\"ENSG00000198695\",\"approvedSymbol\":\"MT-ND6\"},{\"id\":\"ENSG00000130414\",\"approvedSymbol\":\"NDUFA10\"},{\"id\":\"ENSG00000110717\",\"approvedSymbol\":\"NDUFS8\"},{\"id\":\"ENSG00000212907\",\"approvedSymbol\":\"MT-ND4L\"},{\"id\":\"ENSG00000184983\",\"approvedSymbol\":\"NDUFA6\"},{\"id\":\"ENSG00000198888\",\"approvedSymbol\":\"MT-ND1\"},{\"id\":\"ENSG00000165264\",\"approvedSymbol\":\"NDUFB6\"},{\"id\":\"ENSG00000189043\",\"approvedSymbol\":\"COXFA4\"},{\"id\":\"ENSG00000174886\",\"approvedSymbol\":\"NDUFA11\"},{\"id\":\"ENS[...]
